{% extends 'base.html.twig' %}
{% block title 'Agence immoplus' %}

{% block body %}

		<div class="jumbotron text-center">
			<h1>Agence Lorem ipsum</h1>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Velit, quisquam laboriosam voluptas temporibus fuga natus minus, sunt quidem ea optio reiciendis eaque soluta tempora hic voluptate quae eligendi commodi alias.
			</p>
		</div>
{% endblock %}
